* {
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'adineue PRO';
    src: local('adineue PRO'), url('./fonts/adineue\ PRO\ Bold\ Web\ Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'adineue PRO';
    font-weight: bold;
    src: local('adineue PRO'), url('./fonts/adineue\ PRO\ Bold\ Web\ Regular.woff') format('woff');
  }
  h1 { 
    font-family: 'adineue PRO';
    font-size: 10vw;
    background-image: linear-gradient( #c1ad48, #dbaead, #a1d1e6); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -2px -2px rgba(0,0,0,0.1);
  }
  html,
  body,
  #root {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(to right, #dbaead, #c1ad48, #a1d1e6);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    overscroll-behavior: none;
  }
  /* Style the video: 100% width and height to cover the entire window */
  #video {
    order: 1;
    position: top;
    top: 0;
    left:50%;
    /* transform: translateX(-50%); */
    height: 100%;
    /* width: 100%; */
  }
  .video-horizontal {
    position:absolute;
    display:inline-block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    min-width: 10vw;
    min-height: 10vh;
  }
  .video-vertical {
    position:absolute;
    transform-origin: top left;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    width: 100%;
    min-width: 10vw;
    min-height: 10vh;  }
  #header-logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
  #B4KLogo {
    position: relative;
    max-width: 100px;
  }
  #center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bottom: 50%; */
    /* right:50%; */
    transform: translate(-50%, -50%);
  }
  #B4KCircle {
    position: relative;
    width: 30vw;
    min-width: 5vw;
    max-width: 30vw;
    /* max-height: 50vh; */
    /* top: 0;
    left: 50%;
    transform: translate(-50%, -120%); */
  }
  #give {
    position:absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 55vw;
    transform-origin: center;
    /* transform: rotate(-90deg); */
  }
  #get {
    position:absolute;
    left: 55%;
    top: 0;
    height: 100vh;
    width: 45vw;
    /* transform: rotate(90deg); */
  }
  .giveget {
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-orientation:sideways-right;
    background-color: transparent;
    border:none;
    padding: 0px;
  }
  #give:hover {
    background-color: rgba(255,255,255,0.05);
  }
  #get:hover {
    background-color: rgba(255,255,255,0.05);
  }
  .giveget:focus {
    background-color: rgba(125, 208, 247, 0.1);
  }
  .rotate-left {
    transform: rotate(90deg);
  }
  .rotate-right {
    transform: rotate(-90deg);
  }
  body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
      sans-serif;
    color: black;
  }
  
  html {
    overflow: hidden;
    height: 100%;
  }
  
  body {
    height: 100%;
    overflow: auto;
  }
  
  canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    overflow: hidden;
  }
  